nav {
    display: flex;
	justify-content: space-between;
    align-items: center;
    color: navy;
    font-size:large;
    background-color: cadetblue;
}

nav ul li{
    float: left;
    margin: 10px;
}

img {
    width: 20%;
}
